main {
    display: flex;
    flex-flow: row wrap;
}
h1, h2 {
    text-align: center;
}
.ellipsis-clamp {
    box-sizing: border-box;
    font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    height: 30px;
    line-height: 15px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 200px;
}
.ellipsis-clamp.ellipsis-on {
    padding-right: 15px;
    text-align: justify;
}
.ellipsis-clamp.ellipsis-on::after {
    content: "\02026";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15px;
}
.ellipsis-overflow {
    margin: 0;
    position: relative;
}
