body {
    font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 15px;
}
main {
    display: flex;
    flex-flow: row wrap;
}
h2 {
    text-align: center;
}
.wrap {
    box-sizing: border-box;
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 200px;
}
p {
    margin: 0;
    position: relative;
    width: 200px;
}
